Localization
{
	ru
	{
		// Picna
		#LOC_OPX-UP_Picna_Name = Пикна^F
		#LOC_OPX-UP_Picna_Desc = Пикна — это луна, вращающаяся прямо под Польтой и Приаксом, и, похоже, в остальном ничем не примечательная. Однако история научила, что то, что кажется непримечательным, очень редко таковым является.
		#LOC_OPX-UP_Picna_Biome_P = полюса^pm
		#LOC_OPX-UP_Picna_Biome_SM = растянутые равнины^pf
		#LOC_OPX-UP_Picna_Biome_B = выпуклости^pf
		#LOC_OPX-UP_Picna_Biome_IC = ударные кратеры^pm
		
		// Hock
		#LOC_OPX-UP_Hock_Name = Хок^M
		#LOC_OPX-UP_Hock_Desc = Самая большая луна из системы колец Урлума, Хок — это луна в форме равиоли, вращающаяся в самой плотной части колец. Экватор Хока покрыт большим хребтом из собранных кольцевых частиц.
		#LOC_OPX-UP_Hock_Biome_ER = экваториальный хребет^m
		#LOC_OPX-UP_Hock_Biome_C = ядро^n

  		// Polta
    		#LOC_OPX-UP_Polta_Name = Полта^N
    		#LOC_OPX-UP_Polta_Desc = Мятный цвет Полты сразу напомнил астрономам Минмус, но быстро стало понятно, что он все еще находится на орбите Кербина и, следовательно, это должно быть другое тело. Поверхность Полты состоит из гладких и вихревых форм местности, скорее всего, в результате приливного нагрева, вызванного близлежащим Урлумом. 
        	#LOC_OPX-UP_Polta_Biome_L = низины^pf
		#LOC_OPX-UP_Polta_Biome_M = равнины^pf
		#LOC_OPX-UP_Polta_Biome_H = высокогорье^n
		#LOC_OPX-UP_Polta_Biome_P = пики^pm
	        #LOC_OPX-UP_Polta_Biome_ZH = Зуевские Холмы
	        #LOC_OPX-UP_Polta_Biome_SH = Суботайские Холмы 
	        #LOC_OPX-UP_Polta_Biome_BP = Плато Брей
	        #LOC_OPX-UP_Polta_Biome_FP = Фалькорские Равнины
	        #LOC_OPX-UP_Polta_Biome_EV = Долина Эйдиллег
	 	#LOC_OPX-UP_Polta_Biome_JL = Лабиринт Джарет
		
		// Dathil
		#LOC_OPX-UP_Dathil_Name = Датил^M
		#LOC_OPX-UP_Dathil_Desc = Датил, вторая крупная луна Урлума, демонстрирует обширную систему каньонов на своей поверхности. Они, вероятно, образовались из-за теплового расширения и сжатия, которые вызвали трещины в коре во время раннего формирования луны. Поверхностная кора открылась, обнажая белые породы под каньонами, и многие ученые полагают, что некоторые из них могут быть покрыты тонким слоем льда. Как и Вал, поверхность Датила содержит породы, относящиеся ко времени формирования системы Урлума.
		#LOC_OPX-UP_Dathil_Biome_L = низины^pf
		#LOC_OPX-UP_Dathil_Biome_M = равнины^pf
		#LOC_OPX-UP_Dathil_Biome_H = высокогорье^n
		#LOC_OPX-UP_Dathil_Biome_P = пики^pm
		#LOC_OPX-UP_Dathil_Biome_IC = ударные кратеры^pm
		#LOC_OPX-UP_Dathil_Biome_G = грабен^m
		#LOC_OPX-UP_Dathil_Biome_KuC = кратер Кунда^m
		#LOC_OPX-UP_Dathil_Biome_KeC = кратер Кертруд^m
		#LOC_OPX-UP_Dathil_Biome_EC = эпичные скалы^pf
		
		// Biscotti
		#LOC_OPX-UP_Biscotti_Name = Бискотти^m
		#LOC_OPX-UP_Biscotti_Desc = Бискотти, вероятно, является самым недавно сформировавшимся телом во всей системе. Обнаруженный как ярчайшая луна Урлума, он был сначала ошибочно принят за близлежащую звезду Парсек, пока квадратноголовый не понял, что она в другой стороне. С улучшением телескопов был обнаружен слабый диск пыли, хотя истинную природу этой луны еще предстоит выяснить.
		#LOC_OPX-UP_Biscotti_Biome_N = перешеек^m
		#LOC_OPX-UP_Biscotti_Biome_S = склоны^pm
		#LOC_OPX-UP_Biscotti_Biome_AL = доля α^f
		#LOC_OPX-UP_Biscotti_Biome_BL = доля β^f
		
		// Tal
		#LOC_OPX-UP_Tal_Name = Тал^N
	        #LOC_OPX-UP_Tal_Desc = Тал - это то, что астрономы называют субспутником. Хотя обычно эти спутники невозможны из-за слишком малых сфер влияния, удаленная орбита Вала от ледяного гиганта Урлума позволила Талу поддерживать стабильную орбиту. Альбедо Таля указывает на то, что он состоит из металлов, льда или того и другого.
	        #LOC_OPX-UP_Tal_Biome_RR = регион Рипли^m
  		#LOC_OPX-UP_Tal_Biome_DR = Регион Дунрана 
        	#LOC_OPX-UP_Tal_Biome_SR = Регион Сигли
		
		// Wal
		#LOC_OPX-UP_Wal_Desc = Вал — крупнейшая из лун Урлума, названная в честь короля фей Вал из «Жаркой летней ночи» Кваксорда Кермана. Многие предполагают, что у этой луны есть и своя собственная система колец; возможно, единственная в своем роде в нашей системе. Орбита Тала также показала, что он на удивление плотный для тела такого размера, что означает, что он мог мигрировать откуда-то из пределов орбиты Джула.
		#LOC_OPX-UP_Wal_Biome_R = равнина Какао^f
		#LOC_OPX-UP_Wal_Biome_I = равнина Ванили^f
		#LOC_OPX-UP_Wal_Biome_S = склонённые склоны^pm
		#LOC_OPX-UP_Wal_Biome_WR = западный монтес^m
		#LOC_OPX-UP_Wal_Biome_SR = южный монтес^m
		#LOC_OPX-UP_Wal_Biome_BC = Биг Кано^m
		#LOC_OPX-UP_Wal_Biome_B = бассейны^pm
		#LOC_OPX-UP_Wal_Biome_C = кратеры^pm
		#LOC_OPX-UP_Wal_Biome_VC = кратер Вейдера^m
		
		// Lyxis
		#LOC_OPX-UP_Lyxis_Name = Ликсис^M
		#LOC_OPX-UP_Lyxis_Desc = Ликсис, самая внешняя луна Урлума, — это большой, очень далеко вращающийся захваченный объект с ужасно искаженной поверхностью. Считается, что он возник как кентавр, вроде Паба или Крокслева, и, вероятно, позднее был захвачен, пережив множество столкновений. Миссия сюда представляла бы большой интерес из-за возраста его поверхности.
		#LOC_OPX-UP_Lyxis_Biome_FC = кратер Фачас^m
		#LOC_OPX-UP_Lyxis_Biome_EET = восточная возвышенность^f
		#LOC_OPX-UP_Lyxis_Biome_WET = западная возвышенность^f
		#LOC_OPX-UP_Lyxis_Biome_L = низины^pf
		#LOC_OPX-UP_Lyxis_Biome_M = равнины^pf
		#LOC_OPX-UP_Lyxis_Biome_H = высокогорье^n
		#LOC_OPX-UP_Lyxis_Biome_DC = глубокие кратеры^pm
		
		// Halas
		#LOC_OPX-UP_Halas_Name = 687170 Халас
		#LOC_OPX-UP_Halas_Desc = 687170 Халас — редкий пример троянского астероида не принадлежащего Джулу. Халас, в общем-то, ничем не примечателен, кроме этого, но некоторые чудаки решили, что это место врат в другую вселенную. Так ли это? Вероятно, нет, но стоит проверить.
		#LOC_OPX-UP_Halas_Biome_H = высокогорье^n
		#LOC_OPX-UP_Halas_Biome_M = равнины^pf
		#LOC_OPX-UP_Halas_Biome_L = низины^pf
		
		// Research Bodies
		#LOC_OPX-UP_RB_Dathil = Эй, смотрите, это еще одна Полта! Могли бы сказать, но не стали. Эту штуку будет очень интересно исследовать. Давайте назовем это Датил в честь той идиотской феи из рассказов Кейкспира. Я уверен, что это не станет началом тенденции.
		#LOC_OPX-UP_RB_Lyxis = Что эта штука там ДЕЛАЕТ? Она на таком отдалении и с таким наклоном, что нет не единого шанса, что она сформировалась здесь. Её захватила гравитация или выбросило с низкой орбиты? Давайте назовем её Ликсис. Зачем? Я не знаю.
		
		// Tarsier Tech
		#LOC_OPX-UP_TT_Dathil = Ого, как много каньонов.
		#LOC_OPX-UP_TT_Lyxis = Почему эта штука здесь?
		#LOC_OPX-UP_TT_Picna = Оооо, какой острый!
		#LOC_OPX-UP_TT_Hock = брух
		#LOC_OPX-UP_TT_Biscotti = У меня двоится в глазах.
		
	}
}

